body {
  background-color: black;
  font-family: "Press Start 2P", cursive;
}

canvas {
  border: 1px solid black;
  padding: 0;
  margin: 0 auto 0 auto;
  display: block;
  z-index: 10;
  position: absolute;
}

.bg-canvas {
  border: 1px solid black;
  padding: 0;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}

.board-canvas {
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

header {
  text-align: center;
  font-size: 40px;
  margin: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  margin: 15px;
}
img {
  width: 80px;
  height: 80px;
}

.game-menu {
  box-sizing: border-box;
  background-color: black;
  /* border: red 2px solid; */
  position: absolute;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
  width: 900px;
  height: 660px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-menu button,
.instructions button {
  font-size: 30px;
  font-family: inherit;
  padding: 10px;
  margin: 15px;
  background-color: black;
  color: white;
  border: none;
}

.hover-animation {
  display: inline-block;
  position: relative;
  color: #f1e318;
}

.hover-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f1e318;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.instructions {
  box-sizing: border-box;
  background-color: black;
  color: white;
  position: absolute;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 1100px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

#game .hidden {
  display: none;
}
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  border: 1px solid white;
  padding: 0px 50px;
}

.scoreboard {
  color: #faff00;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  width: 640px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard button {
  font-size: 13px;
  font-family: inherit;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid yellow;
  border-radius: 8px;
}

.scoreboard button:hover {
  color: black;
  background-color: white;
}

.scoreboard span {
  font-size: 13px;
}

.scoreboard a {
  text-decoration: none;
  color: rgb(21, 206, 206);
}

.scoreboard a:hover {
  color: yellow;
}

.banner {
  color: white;
  background-color: rgba(46, 43, 43, 0.7);
  border: 1px solid white;
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 60%;
  font-size: 16px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner h2 {
  font-size: 30px;
  text-align: center;
}

.banner span {
  color: coral;
  text-align: center;
}

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes flash {
  from {
    color: rgb(26, 173, 173);
  }

  to {
    color: coral;
  }
}
